# Configurações do Supabase
# URL do projeto (https://app.supabase.com/project/<id>/settings/api)
NEXT_PUBLIC_SUPABASE_URL=

# Chave pública anon (pode ser exposta no client)
NEXT_PUBLIC_SUPABASE_ANON_KEY=